html {font-size: 50px !important;}
body {padding: 10px 0;}
.logo {position:fixed; top: 0; right: 0; display: block; margin: 0.1rem;}
.logo img {width: 0.8rem;}
.demo-header-list {list-style-position: inside; list-style-type: katakana; font-size: .3rem; margin-bottom: 10px;}
