body {
  margin: 0;
}

.clearfix {
  zoom: 1;
  overflow: auto;
}

.dev-container {
  padding: 32px;
}

.demo-header-list {
  padding: 0 0 16px;
  list-style-type: upper-roman;
  margin: 0 0 32px;
  border-bottom: 1px solid #ececec;
}

.demo-header-list li {
  float: left;
  width: 25%;
  margin-top: 10px;
}

.demo-header-list li a {
  display: inline-block;
  width: 80%;
  overflow: scroll;
}

.demo-runner {
  float: left;
  width: 50%;
  padding-right: 16px;
  box-sizing: border-box;
}

.demo-src {
  overflow: hidden;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.src-body {
  overflow: scroll;
  border: 1px solid #ececec;
  padding: 16px;
  margin: 0;
  border-radius: 4px;
}
