.demo-wrapper {
  border: 0;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
}

.demo-header-list {
  padding: 0 !important;
  list-style-position: inside;
  list-style-type: upper-roman;
  margin-bottom: 10px;
}

.demo-header-list li {
  margin-top: 5px;
}

.markdown-body table {
  border-spacing: 0;
  border-collapse: collapse;
}

.src-container {
  overflow: scroll;
  border: 1px solid #ececec;
  padding: 16px;
  border-radius: 4px;
}
