<!DOCTYPE html>
<html>
<head>
  <title>Zent Kit - Develop Tools for React</title>
  <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/highlight.css">
  <link rel="stylesheet" href="http://react.fe.qima-inc.com/style/css/index.css">
  <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
<div class="container-fluid">
      <div class="salt-panel salt-panel-default">
        <ul class="salt-panel-body list-group demo-header-list row">
        <% navList.forEach(function(nav) { %>
          <li class="zol-sm-10 zol-sm-offset-2"><a href=<%- nav %>><%- nav %></a></li>
        <% }) %>
        </ul>
      </div>
    <div class="row">
      <% if(script) { %>
        <div class="zol-lg-12">
            <div class="salt-panel salt-panel-default">
              <div class="salt-panel-body">
                <div id="react-component-container"></div>
              </div>
            </div>
            <script>
              window.Component = '<%= script %>';
            </script>
            <script src="/main.js"></script>
        </div>
      <% } %>
        <div class="<%= script ? 'zol-lg-12' : 'zol-lg-24' %>">
          <% if(readme !== '') { %>
            <pre><code><%= readme %></code></pre>
          <% } %>

          <% if(code) { %>
            <pre><code><%= code %></code></pre>
          <% } %>
        </div>
    </div>
</div>

<script src="http://127.0.0.1:35729/livereload.js"></script>
</body>
</html>
